{% load thumbnail %}

<div class="post_addcomment">
    {#Форма #}
    <div id="form-app" class="">
        <div class="similar_news" name="comments">
            <h2 class="news_section_title">
                <a class="news_section_title_link">Ваш комментарий</a>
            </h2>
        </div>
        <form action="{% url 'add_review' post.id %}" method="post" class="comment-form mt-3">
            {% csrf_token %}
            <input type="hidden" name="parent" id="parent" value="">
            {% if not request.user.is_authenticated %}
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="recipient-name" class="col-form-label">Ваше имя:</label>
                        <input type="text" name="name" required class="form-control"
                               value="{{ request.session.quest_name }}" id="name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="email" name="email" required class="form-control"
                               value="{{ request.session.quest_email }}" id="email">
                    </div>
                </div>
            {% else %}
                <input type="hidden" name="name" required
                       value="{{ request.user.author.first_name }}
                                {% if request.user.author.last_name %}
                                    {{ request.user.author.last_name }}
                                {% endif %}" id="name">
                <input type="hidden" name="email" required class="form-control"
                       value="{{ request.user.email }}" id="email">
            {% endif %}
            <div class="form-group">
                <label for="message-text" class="col-form-label">Комментарий:</label>
                <textarea name="text" rows="4" required class="form-control"
                          id="comment"></textarea>
            </div>
            <div id="notice" style="display: none">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Спасибо!</strong> Ваш комментарий опубликован.<br>
                </div>
            </div>
        </form>
        <div class="mt-4">
            <button class="btn btn-primary p-3 shadow" onclick="AjaxAddComment()">Оставить коментарий <i
                    class="fab fa-telegram-plane"></i>
            </button>
        </div>
    </div>
    {#    Комментарии #}

    <div class="commets mt-5" id="comments-list">
        {% if comments.count %}
            <div class="similar_news" name="comments">
                <h2 class="news_section_title">
                    <a class="news_section_title_link">Комментарии </a>
                </h2>
            </div>

            <div class="mt-4">
                {% for i in comments %}
                    <div class="comment mt-3 border rounded shdow-sm p-2 pb-4" id="comment{{ i.id }}">
                        <p class="font-weight-bold">
                            {% if i.user and i.user.author.avatar %}
                                {% thumbnail i.user.author.avatar "50x50" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="" class="rounded-circle shadow-sm">
                                {% endthumbnail %}
                            {% else %}
                                <i class="fas fa-user"></i>
                            {% endif %}
                            <span>{{ i.name }} </span>
                            {% if i.parent %}
                                <span class="font-weight-light small"> ответ для </span>
                                <a href="#comment{{ i.parent.id }}" class="scroll-to">
                                    <span class="text-muted">{{ i.parent.name }}</span>
                                    {% if i.parent.user and i.user.author.avatar %}
                                        {% thumbnail i.parent.user.author.avatar "30x30" crop="center" as img %}
                                            <img src="{{ img.url }}" alt="" class="rounded-circle shadow-sm">
                                        {% endthumbnail %}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </p>
                        <p class="mt-3">{{ i.text }}</p>
                        <div class="mt-2 border-top pt-2">
                            <p class="text-muted small text-right float-right"><i
                                    class="fas fa-history"></i> {{ i.pub_date|date:'d M G:i' }}</p>
                            <a href="#form-app" onclick="addComment('{% if i.user %}{{ i.user.author.first_name }}{% if i.user.author.last_name %} {{ i.user.author.last_name }}{% endif %}{% else %}{{ i.name }}{% endif %}', '{{ i.id }}')"
                               class="float-left small scroll-to">Ответить <i class="fas fa-reply-all"></i></a>
                            {% if i.parent %}
                            <span class="small serif float-left ml-3"
                                    data-toggle="tooltip" data-placement="top" title="{{ i.parent.text }}">
                                    Цитата <i class="far fa-comment-dots"></i>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-secondary mt-5" role="alert">
                К данной записи пока нет комментариев.
            </div>
        {% endif %}

    </div>
</div>