<div class="mt-2">
    <h4 class="border-bottom pb-2">
        Читайте также
    </h4>
</div>
<div class="row">
    {% for i in posts %}
        <div class="col-lg-12 col-md-6 mt-4">
            <div class="news_section_block">
                {% include 'news/includes/post_card_one.html' %}
            </div>
        </div>
    {% endfor %}
</div>