<!doctype html>
{% load static %}
{% load main_tags %}
{% get_main_info as main_infotg %}
{% load cache %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#131315">
    <title>{% block title %}{{ main_infotg.title }}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="56x56" href="{{ main_infotg.favicon.url }}">
    <meta name="description" content="{% block description %}{{ main_infotg.description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{% block ogtitle %}{{ main_infotg.title }}{% endblock %}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{% block ogurl %}{% endblock %}"/>
    <meta property="og:image" content="{% block ogimage %}'https://res.cloudinary.com/space-developers/image/upload/v1605255386/Petronews/160118-MAIN_hh8zbi.jpg'{% endblock %}"/>
    <meta property="og:image:width" content="470"/>
    <meta property="og:image:height" content="246"/>
    <meta property="og:site_name" content="Petronews"/>
    <meta property="og:description" content="{% block ogdescription %}{{ main_infotg.description }}{% endblock %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=PT+Serif&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
{% include 'includes/header.html' %}

{% include 'includes/curencies.html' %}
<main class="mt-5">
    <div id="page" style="opacity: 0; transition: 1s opacity, .7s margin-top; margin-top: -3%;">
        {% block content %}
        {% endblock %}
    </div>
</main>

{% include 'includes/footer.html' %}
{% include 'includes/bottom_menu.html' %}
{% include 'includes/search.html' %}

{% if request.user.is_authenticated and request.user.is_staff %}
    <a href="{% url 'clear_posts' %}">
        <button class="btn btn-danger fixed-bottom rounded shadow" style="bottom: 230px; left: 5px;">Очистить БД
        </button>
    </a>
    <a href="{% url 'telegram' %}">
        <button class="btn btn-success fixed-bottom rounded shadow" style="bottom: 180px; left: 5px;">Telegram
        </button>
    </a>
    <a href="#" onclick="getData('{% url 'parse' %}')" id="parser">
        <button class="btn btn-primary fixed-bottom rounded shadow" style="bottom: 80px; left: 5px;">Start Parse
        </button>
    </a>
    <a href="{% url 'nots' %}" id="parser">
        <button class="btn btn-warning fixed-bottom rounded shadow" style="bottom: 130px; left: 5px;">Parse logs
        </button>
    </a>
{% endif %}

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
{#<script type="text/javascript" src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/lazy.js' %}"></script>
<script src="{% static 'assets/js/profile.js' %}"></script>
<script src="{% static 'assets/js/market.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#page").css("opacity", "1").css("margin-top", "0");
    });
</script>
</body>
</html>