{% extends 'base.html' %}

{% block title %}{{ header }} | {{ block.super }}{% endblock %}

{% block content %}

    <div class="container" style="width: 95%;">
        <div class="all_news">
            <h2 class="mt-5">
                {{ header }}
            </h2>
            <div class="">
                <div>

                    {% if news.count %}
                        <h4 class="mt-5">Новости</h4>
                        <div class="row">
                            {% for i in news %}
                                <div class="mt-4 col-md-6">
                                    {% include 'news/includes/search_list_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if pubs.count %}
                        <h4 class="mt-5">Публикации</h4>
                        <div class="row">
                            {% for i in pubs %}
                                <div class="mt-4 col-md-6">
                                    {% include 'news/includes/search_list_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if questions.count %}
                        <h4 class="mt-5">Вопросы</h4>
                        <div class="row">
                            {% for i in questions %}
                                <div class="mt-4 col-md-6">
                                    {% include 'news/includes/search_list_card.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}


                    {% if not news.count and not pubs.count and not questions.count %}
                        <div class="alert alert-secondary" role="alert">
                            К сожалению по Вашему запросу ничего не найдено. Попробуйте изменить запрос.
                        </div>
                        <form action="{% url 'search' %}" method="get" class="mt-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Введите поисковый запрос:</label>
                                <input type="text" class="form-control" name="s" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Новый поиск <i
                                    class="fas fa-search small"></i></button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

