<div class="mobile_block_fixed">
    <a class="mobile_block_fixed_link text-white text-center" href="{% url 'home' %}">
        <i class="fas fa-home"></i><br><span class="small">Главная</span>
    </a>
    <a class="mobile_block_fixed_link text-white text-center" href="{% url 'kz_news' %}">
        <i class="fas fa-globe-asia"></i><br><span class="small">Казахстан</span>
    </a>
    <a class="mobile_block_fixed_link text-white text-center" href="{% url 'world_news' %}">
        <i class="fas fa-globe"></i><br><span class="small">Мир</span>
    </a>
    <a class="mobile_block_fixed_link text-white text-center" href="{% url 'publications_list' %}">
        <i class="far fa-newspaper"></i><br><span class="small">Публикации</span>
    </a>
</div>