{% load main_tags %}
{% get_socials as socialstg %}
{% get_footer_info as footertg %}
{% load cache %}
<div class="p-container mt-5">
    <div class="market">
        <h3 class="text-center p2-4 pt-3 mb-3 border-top">Рынок</h3>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container shadow">
  <div id="tradingview_2cc70"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.MediumWidget(
  {
  "symbols": [
    [
      "BRENT",
      "TVC:UKOIL|1M"
    ],
    [
      "WTI",
      "TVC:USOIL|1M"
    ],
    [
      "GAS",
      "CURRENCYCOM:NATURALGAS|1M"
    ],
    [
      "GOLD",
      "CURRENCYCOM:GOLD|1M"
    ],
    [
      "SILVER",
      "CURRENCYCOM:SILVER|1M"
    ],
    [
      "KZT/USD",
      "FX_IDC:KZTUSD|1M"
    ],
    [
      "KZT/EUR",
      "FX_IDC:KZTEUR|1M"
    ],
    [
      "US30",
      "CURRENCYCOM:US30|1M"
    ],
    [
      "SP500",
      "FOREXCOM:SPXUSD|1M"
    ],
    [
      "NASDAQ",
      "CURRENCYCOM:US100|1M"
    ],
    [
      "DAX",
      "CURRENCYCOM:DE30|1M"
    ],
    [
      "FR40",
      "WHSELFINVEST:FRANCE40CFD|1M"
    ],
    [
      "FTSE100",
      "CURRENCYCOM:UK100|1M"
    ],
    [
      "РТС",
      "MOEX:RTSI|1M"
    ],
    [
      "ММВБ",
      "MOEX:IMOEX|1M"
    ]
  ],
  "chartOnly": false,
  "width": "100%",
  "height": "400",
  "locale": "ru",
  "colorTheme": "light",
  "gridLineColor": "#F0F3FA",
  "trendLineColor": "#2196F3",
  "fontColor": "#787B86",
  "underLineColor": "#E3F2FD",
  "isTransparent": false,
  "autosize": false,
  "container_id": "tradingview_2cc70"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->

    </div>
</div>
{#{% cache 86400 footer %}#}
<footer class="mt-5">
    <div class="subscribe mt-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="subscribe_social col-12 col-md-4">
                    <p class="subscribe_social_title">
                        Следите за новостями в социальных сетях
                    </p>
                    <div class="subscribe_social_all">
                        {% for i in socialstg %}
                            <a class="subscribe_social_link mr-1" href="{{ i.url }}" target="_blank">
                                {% autoescape off %}{{ i.icon }}{% endautoescape %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer_top row">
            <div class="footer_menu col-12 col-md-2">
                <div class="row mb-3">
                    <a class="text-white col-12" href="{% url 'home' %}">Главная</a>
                    <a class="col-12 text-white mt-1" href="{% url 'about' %}">О проекте</a>
                    <a class="col-12 text-white mt-1" href="{% url 'contacts' %}">Контакты</a>
                </div>
            </div>
            <div class="footer_info col-12 col-md-7">
                <p class="footer_info_text">
                    {{ footertg.text_one }}
                </p>
            </div>
            <div class="footer_copiryght col-12 col-md-3">
                <p class="footer_copiryght_text">
                    {{ footertg.text_two }}
                </p>
            </div>
        </div>
        <div class="footer_bottom row">
            <a href="{% url 'politic' %}" class="footer_info_one col-12 col-md-3">Политика конфиденциальности</a>
            <a class="footer_info_three col-12 col-md-6"></a>
            <a class="footer_info_three col-12 col-md-3">{{ footertg.copyright }}</a>
        </div>
    </div>
</footer>

<style>
    .news-lent a {
        display: inline-block;
        margin-bottom: 20px;
    }
</style>
{#{% endcache %}#}