{% load static %}

<div class="modal fade" id="exampleModalmob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal_search" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-warning" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mt-5" action="{% url 'search' %}" method="get">
                    <input class="modal_search_input bg-black border-bottom text-white" required type="search" name="s" value="" placeholder="Введите запрос..." />
                    <br>
                    <button class="btn btn-outline-warning text-uppercase btn-block f-size-13" type="submit">
                        Искать
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>