{% extends 'base.html' %}
{% block title %}Персоны | {{ block.super }}{% endblock %}

{% block content %}

    <div class="p-container">

        <div class="person">
            <h2 class="news_section_title">
                <a class="news_section_title_link">Персоны</a>
            </h2>
            <div class="container_person">
                <div class="row">
                    {% for i in persons %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                        {% include 'persons/includes/person_list_card.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}